/*--------------------- 
        font style 
------------------------*/
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
        
}
/* -------------------- 
   Header starts 
-----------------------*/
header{
display: flex;
align-items: center;
justify-content: space-between;
margin:50px 65px 0 65px;
}
ul{
    list-style: none;
    display: flex;
}
ul a{
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    font-size: 19px;
}
ul a:hover{
    color: rgb(0, 0, 0);
}
nav > ul > li:hover > ul{
    display: block;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: lightgray;
    padding: 0;
}
.dropdown li{
    padding: 0;
}
/* -------------------- 
   Header Ends 
-----------------------*/
/*---------------------
 first section starts
 --------------------- */
.first-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    margin-bottom: 60px;
}
.first-section img{
    width: 440px;
    height: 414px;
    margin-left: 140px;
}
.section-title{
    margin-left: 65px;
}
.section-info{
    font-size: 45px;
}
.section-title a{
    border-radius: 25px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
}
 /*---------------------
 first section ends
 --------------------- */

 /*--------------------
  Section brands starts 
  ---------------------*/
  
  .top{
    border: 1px solid lightgray;
    margin-bottom: 27px;
  }
  .bottom{
    border: 1px solid lightgray;
    margin-top: 27px;
    margin-bottom: 50px;
  }
  .brand-img{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
  }

   /*--------------------
  Section brands ends 
  ---------------------*/